.form {
    text-align: center;
}
nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.report {
    text-align: center;
}

.title {
    display: flex;
    justify-content: flex-start;
    color: rgb(11, 11, 29);
}